<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"	>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de usuarios</title>
</head>
<body>

	<h1>Cadastro de usuarios</h1>
	
	<form action="salvarusuario" method="POST">
		 
		<label>Nome</label>
		<input name="nome" >
		
		<label>Idade</label>
		<input name="idade"> 
		
		<input type="submit" value="Salvar">
		
	</form>
	
	
	<table th:each = " u : ${listaUsuario}">
		
		<tr>
			<td th:text = "${u.id}">id</td>
			<td th:text = "${u.nome}">Nome</td>
			<td th:text = "${u.idade}">Idade</td>
		</tr>
	
	</table>
	
	
</body>
</html>